body {
    padding-top: 50px;
    font: 10px sans-serif;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.qqcontrols  {
    margin-top: 50px;
    padding-top: 50px;
    padding-right: 0px;
    border: 1px solid #0000ff;
    display: none;
}
.bagetTitle  {
   font-family: 'Gravitas One', 'Arial Black';
}
#slider {}
.scatter .axis path,
.scatter .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.2px;
    shape-rendering: crispEdges;
}
.scatter .axis text {
    font-size: 12pt;
}
.scatter .dot {
    stroke: #000;
}
.buttonHolder {
    position:relative;
}
#btnmgr{
    position: absolute;
    top: 360px;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
.scatter-tip  {
    background: rgba(30, 121, 36, 0.8);
}

.slider .axis {
    font-size: 55px;
}
#slider {
    margin-left:40px;
    margin-bottom:20px;
}

.slider .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 10px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 8px;
    stroke-linecap: round;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    pointer-events: none;
}

