text.countryLabel  {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 6pt;
}
tspan.countryInflectionLabel{
    font-family: 'Lato';
    font-weight: normal;
    font-size:  8pt;
}
text.countryInflectionLabel.titleLine{
    font-weight: bold;
    font-size:  8pt;
}
div.sectionDescription{
    text-align: center;
    font-family: 'Lato';
    font-weight: bold;
    font-size:  18pt;
    color: black;
}
div.sectionDescription.displayButtonAdjuster{
    margin-bottom: 20px;
}
div.sectionDescription.displayButtonAdjuster.slim{
    margin-bottom: 5px;
}
div.subSectionDescription{
    text-align: left;
    font-family: 'Lato';
    font-weight: bold;
    font-size:  12pt;
    color: black;
    margin-bottom: 8px;
}

div.dataChoosingSection {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
div.displayAdjustmentSection {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 3px;
    margin: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

div.everyGroupToDisplay {
    border: 1px solid black;
    margin:  5px;
    padding: 3px;
    /*width: 300px;*/
    width: 95%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 15px;
    z-index: 1;
    background: #eee;
}


div.everyGroupToDisplay ul {
    list-style-type: none;
}
div.holdTheExpandableBlock{
    min-height: 130px;
}
div.expander{
 }
div.everyGroupToDisplayHolder {
    position: relative;
    /*width:305px;*/
    width:100%;
}
div.everyGroupToDisplayHolder.greater div.everyGroupToDisplay {
    height: 600px;
}
div.everyGroupToDisplayHolder.smaller div.everyGroupToDisplay {
    height: 100px;
}
div.everyGroupToDisplayHolder {
    /*width:305px;*/
    width:100%;
}
div.describeWhatWeAreExpanding{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}
span.expanderText {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 8pt;
    color: blue;
    text-decoration: underline;
}
span.expanderText:hover {
cursor: pointer;
}
button.expanderControlButtons {
    font-family: Times;
    font-weight: bold;
    font-size: 8pt;
    color: blue;
    text-decoration: underline;
}
text.describeDateRangeOfData {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 14pt;
}
.chart rect {
    fill: steelblue;
}

.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle;
}
/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}
input.displayControl {
    align: left;
    margin: 0;
}
label.displayControl {
    font-weight: normal;
}
div.checkboxHolder input {
    text-align: left;
}
div.item.checkboxHolder.active input{
    disabled:false;
}
div.item.checkboxHolder.passive input{
    disabled:true;
}
div.item.checkboxHolder.active label{
    color: #000;
}
div.item.checkboxHolder.passive label{
    color: #aaa;
}

input.movingAverageWindow {
    width: 15px;
}
input.daysOfNonExponentialGrowthRequired {
    width: 15px;
}
div.dataChoosingSection{
    text-align: left;
}
input.amount {
    border: 0;
    /*color: #0000ee;*/
    font-weight: normal;
    width: 100%;
    background: #eee;
}
div.dateSliderContainer {
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    background: #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */

}
div.dateChooserContainer {
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    background: #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; /* future proofing */
    -khtml-border-radius: 4px; /* for old Konqueror browsers */
}
/*button.logLinChg {*/
/*    font-size: 16px;*/
/*    border:1px solid blue;*/
/*    margin: 30px;*/
/*}*/
button.logLinChg{
    display:inline-block;
    padding:3%;
    margin:2%;
    border-radius:5px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:sans-serif;
    font-size:16px;
    font-weight:normal;
    color:#000;
    background-color:#E5E9EB;
    border:1px outset blue;
    text-align:center;
    transition: all 0.2s;
}
button.logLinChg.slim{
    padding:5px;
    margin:3px;
}

button.logLinChg:hover{
    background-color:#C0CFDA;
}
.aligned-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*.col-container {*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/
/*.col {*/
/*    flex: 1;*/
/*    padding: 16px;*/
/*}*/